@import url(./variables.css);
.pad, .pad-1{
    padding:var(--size-1);
}
.pad-2{
    padding:var(--size-2);
}
.pad-3{
    padding:var(--size-3);
}
.pad-4{
    padding:var(--size-4);
}
.pad-5{
    padding:var(--size-5);
}

.pad-l1{
    padding-left:var(--size-1);
}
.pad-l2{
    padding-left:var(--size-2);
}
.pad-l3{
    padding-left:var(--size-3);
}
.pad-l4{
    padding-left:var(--size-4);
}
.pad-l5{
    padding-left:var(--size-5);
}

.pad-r1{
    padding-right:var(--size-1);
}
.pad-r2{
    padding-right:var(--size-2);
}
.pad-r3{
    padding-right:var(--size-3);
}
.pad-r4{
    padding-right:var(--size-4);
}
.pad-r5{
    padding-right:var(--size-5);
}

.pad-t1{
    padding-top:var(--size-1);
}
.pad-t2{
    padding-top:var(--size-2);
}
.pad-t3{
    padding-top:var(--size-3);
}
.pad-t4{
    padding-top:var(--size-4);
}
.pad-t5{
    padding-top:var(--size-5);
}

.pad-b1{
    padding-bottom:var(--size-1);
}
.pad-b2{
    padding-bottom:var(--size-2);
}
.pad-b3{
    padding-bottom:var(--size-3);
}
.pad-b4{
    padding-bottom:var(--size-4);
}
.pad-b5{
    padding-bottom:var(--size-5);
}